
data_input/Example_1_R2s/subject_1/B1_map/

data_input/Example_1_R2s/subject_1/dat_file/

data_input/Example_1_R2s/subject_1/nifti/

results/PulseComparisionWithPhase/

Simulations/Figures/PulseComparisionWithPhase/

Simulations/mat_files/alpha.mat

Simulations/mat_files/
